spring:
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: actuator,info,health,metrics
  endpoint:
    health:
      show-details: always
  health:
    diskspace:
      enabled: false

info:
  animalFactsDateOfCreation: 11/30/2018

logging:
  level:
    root: INFO